<app-weather-widget
  [actionTemplate]="altAction"
  [contentTemplate]="alternativeWidgetContent"
  [headerTemplate]="alternateWidgetHeader"
>
</app-weather-widget>
<ng-template #alternateWidgetHeader>
  <div class="altHeader">
    Today's Header
  </div>
</ng-template>

<!--<ng-template #alternativeWidgetContent let-state>
<- Note: We don't have to define the key(eg:let-state = "state) explicitly like below
 if we declared the ngTemplateOutletContext with $implicit keyword.
-->
<ng-template #alternativeWidgetContent let-state="state">


  <!--  <- We can also use ViewChild instead of ngTemplateOutletContext
but viewChild will create an instance for each and every template
& also we can't access a private fields using this viewChild decorator-->

  <div>
    <span>{{state.data.temperature}}•C</span>
  </div>
</ng-template>

<ng-template #altAction>
  <app-weather-custom-action></app-weather-custom-action>
</ng-template>
